    <h3 class="text-danger" style="margin-top: -35px;">
        Wystąpił nieoczekiwany błąd podczas przetwarzania Twojego żądania.
    </h3>
    <h5>Jeśli problem będzie się powtarzał, 
    <a href="mailto:admin@email.pl">skontaktuj się z administratorem</a>.
    </h5>
    <img src="@Url.Content("~/Content/Images/error.jpg")" style="height: 70vh" alt="obrazek przedstawiający wyrzucenie wyjątku" />