<h3 class="text-danger" style="margin-top: -35px;">
    Wystąpił błąd połączenia z bazą danych.
</h3>
<br />
<h5>Najbardziej prawdopodobne przyczyny:</h5>
<p>
    - błędny login lub hasło do bazy danych,
    <br />
    - wyłączony SQLEXPRESS,
    <br />
    - próba zapisania nulla do kolumny bazy danych, która nie może przyjąć nulla.
    <br />
    <br />
    Jeśli problem będzie się powtarzał, <a href="mailto:admin@email.pl">skontaktuj się z administratorem</a>.
</p>